*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: url(./images/24manguel-superJumbo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.L_header{
    margin: 0 auto;
    background-color: #183764;
    width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.L_header1{
    width: 400px;
    height: 109px;
}
.L_header2{
    display: flex;
    width: 550px;
    height: 109px;
}
.L_logo1 {
    width: 45px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.L_inst {
    width: 185px;
    height: 52px;
    top: 12px;
    left: 154px;
    padding: 0px 30px 0px 0px;
    align-items:center ;
    margin-top: 16px;
    cursor: pointer;
}
.L_a1 {
    color: aliceblue;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.17000000178813934px;
    display: flex;
    align-items: center;
    display: inline;
    text-align: left;
    font-style:italic ;
    margin-left: 35px;
    margin-bottom: 10px;
    text-decoration: none;
    margin-top: 25px;
    transition: 0.5s;
    position: relative;
    height: 27px;
}
.L_a1:hover{
    color: rgba(255, 202, 66, 1);
}
.L_a1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    left: 0;
    bottom: -3px;
    background-color: coral;
    transition: 0.3s;
}
.L_a1:hover::before {
    width: 100%;
    height: 3%;
}
.L_button {
    cursor: pointer;
    margin-left: 30px;
    width: 130px;
    height: 50px;
    border: 2px;
    background-color: rgba(255, 202, 66, 1);
    margin: 16px 19px;
    transition: 0.5s;
}
.L_button:hover{
    background-color: rgb(222, 118, 0);
}
.L_the{
    width: 592px;
    height: 800px;


}
.n_main {
    width: 1200px;
    margin: 0 auto;
}

/* -------- B L O C K  1 --------  */

.wlcm_background{
    width: 1200px;
    height: 670px;
    padding: 20px;
    background-color: rgba(27, 55, 100, 1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.wlcm_img {
    width: 460px;
}
.wlcm_block {
    width: 590px;
    height: 510px;
    margin-right:  50px;
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.wlcm_title {
    width: 590px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.rectangle_wlcm {
    width: 35px;
    height: 2px;
    margin-top: 15px;
    margin-right: 15px;
    background-color: rgba(255, 202, 66, 1);

}
.wlcm_text {
    font-family: Cardo;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.your_book {
    width: 590px;
    height: 255px;
}
.your_books_from {
    font-family: Cardo;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.the_best_writer {
    font-family: Cardo;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.yr_bk {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-top: 24px;
    color: rgba(180, 199, 231, 1); 
}
.yur_bok {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: rgba(180, 199, 231, 1); 
}
.order_td {
    width: 590px;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.button_td {
    width: 200px;
    height: 60px;
    background-color: rgba(255, 202, 66, 1);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: rgba(27, 55, 100, 1);
    cursor: pointer;
    transition: 0.5s;
}
.button_td:hover {
    background-color: rgb(222, 118, 0);
}
.text_td {
    margin: 19px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.4s;
    cursor: pointer;
}
.txt_td {
    font-family: Cardo;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.rectangle_td {
    width: 112px;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
}
.list {
    width: 590px;
    height: 110px;
    padding: 20px 0px 0px 0px;
    display: flex;
    align-items: left;
    flex-direction: row;
}
.list_pages {
    width: 169px;
    height: 65px;
    display: flex;
    align-items: left;
}
.rectangl_img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.pages {
    width: 170px;
    height: 65px;
    display: flex;
    align-items: left;
    flex-direction: column;
}
.page_txt {
    font-family: Cardo;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.number_pages {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 12px 0;
    color: rgba(180, 199, 231, 1);
}
.list_length {
    width: 169px;
    height: 65px;
    display: flex;
    align-items: left;
}
.length {
    width: 180px;
    height: 65px;
    display: flex;
    align-items: left;
    flex-direction: column;
}
.length_txt {
    font-family: Cardo;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.length_hour {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 12px 0;
    color: rgba(180, 199, 231, 1);
}
.list_rating {
    width: 250px;
    height: 65px;
    display: flex;
    align-items: left;
}
.rating {
    width: 245px;
    height: 65px;
    display: flex;
    align-items: left;
    flex-direction: column;
}
.rating_txt {
    font-family: Cardo;
    font-size: 20px;

font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.rating-1 {
    font-family: Inter;
font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 12px 0;
    color: rgba(180, 199, 231, 1);
}



/* -------- B L O C K  2 --------  */



.n_autors {
    width: 1200px;
    height: 600px;
    margin: 70px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}
.n_autors__title {
    font-family: Cardo;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    color: rgba(27, 55, 100, 1);
    margin-bottom: 25px;
}
.n_autors__line{
    width: 70px;
    height: 5px;
    background-color: rgba(255, 202, 66, 1);
    border: 1px solid rgba(255, 202, 66, 1);
}
.n_block {
    width: 1200px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

/* CARD 1 */

.n_block_1 {
    width: 630px;
    height: 380px;
    display: flex;
    margin: 0 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.n_block_2 {
    width: 630px;
    height: 380px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}
.n_block_img {
    width: 280px;
}
.n_block_1_box {
    width: 315px;
    height: 350px;
}
.n_block_2_box_title {
    width: 315px;
    height: 96px;
}
.n_block_2_text {
    width: 220px;
    font-weight: 400px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Cardo', serif;
    font-size: 32px;
    color:rgba(27, 55, 100, 1);   
    float: inline-start;
    position: relative;
}
.n_block_2_text::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 10%;
    background-color: #FFCA42;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.n_block_2_text:hover::before {
    width: 90%;
}
.n_block_2_text_2 {
    font-weight: 400px;
    margin: 7px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: rgba(255, 202, 66, 1);
    float: inline-start;
}
.n_block_2_text_3 {
    width: 220px;
    font-weight: 400px;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: left;
    color: rgba(150, 154, 160, 1);
}
.n_printed_book {
    margin: 10px 20px;
    display: flex;
    align-items: left;
    flex-direction: row;
}
.rectangl_img{
    width: 16px;
    height: 16px;
    margin-top: 8px;
    margin-right: 10px;
}
.n_block_2_text_4 {
    font-weight: 400px;
    font-family: 'Cardo', serif;
    font-size: 24px;
    text-align: left;
    color:rgba(27, 55, 100, 1);    
}
.order_now_button {
    width: 200px;
    height: 60px;
    margin: 10px 20px;
    border: 2px solid rgba(255, 202, 66, 1);
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}
.order_now_button:hover{
    background-color: rgb(222, 118, 0);
    color: #fff;
}
/* CARD 2 */

.n_block_2_box {
    width: 315px;
    height: 350px;
}
/* ---- Section 3 how to use ---- */
.L_how_to_use {
width: 100px;
height: 1000px;
}
.L_text_dura {
    width: 1300px;
    height: 834.71875px;
    top: 4165.359375px;
    left: 70px;
    padding: 20px 0px 0px 0px;
    display: flex;
    }
    .L_text {
    width: 436px;
    height: 51px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    position: relative;
    }
    .L_text::before{
    width: 40px;
    height: 4px;
    background-color: rgb(255, 187, 0);
    position: absolute;
    content: '';
    bottom: 0;
    right: 120px;
    transition: 0.5s;
    
    }
    .L_text:hover::before{
    width: 110%;
    
    }
    .L_text::after{
    width: 40px;
    height: 4px;
    background-color: rgb(255, 187, 0);
    position: absolute;
    content: '';
    bottom: 0;
    left: 145px;
    transition: 0.5s;
    }
    .L_text:hover::after{
    width: 100%;
    
    }
    .L_h1 {
    }
    .L_frame_main {
    width: 665.453125px;
    height: 651.71875px;
    padding: 30px 0px 17.71875px 0px;
    display: flex;
    margin-top: 50px;
    
    }
    .L_frame_main1 {
    width: 665.453125px;
    height: 302px;
    padding: 0px 29.453125px 30.359375px 0px;
    margin-left: 20px;
    margin-top: 50px;
    }
    .L_frame_main2 {
    width: 665.453125px;
    height: 302px;
    padding: 0px 29.453125px 30.359375px 0px;
    margin-top: 50px;
    }
    .L_frame {
    width: 303px;
    height: 272px;
    top: -0.359375px;
    background-color: rgba(244, 248, 255, 1);
    margin-bottom: 30px;
    }
    .L_numbers {
    margin-top: 20px;
    margin-left: 20px;
    }
    .L_p {
    margin-left: 20px;
    width: 236px;
    text-shadow: 1px 1px #00000032;
    size: 20px;
    }
    .L_dura {
    width: 545px;
    height: 642px;
    border: 10px solid #FFCA42;
    margin-top: 90px;
    }
    .L_dura1 {
    width: 535px;
    height: 632px;
    margin: 0 auto;
    }
/* ----Section 4 form---- */
.a-block3 {
    background-color: rgba(27, 55, 100, 1);
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.a-image {
    width: 300px;
}
form {
    background-color: #00000088;
    border: 3px solid #000;
    border-radius: 30px 30px 30px 30px;
    width: 400px;
    height: 500px;
    margin-right: 20px;
}
.form_label {
    margin-left: 20px;
    color: #fff;
    position: relative;
}
.form_label1 {
    margin-left: 20px;
}
.form_label::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 10%;
    background-color: aqua;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}
.form_label:hover::before {
    width: 100%;
}
h1,h2 {
    text-align: center;
    color: #fff;
}
.form_name {
    width: 290px;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
}
.form_name::placeholder {
    color: #ffffff7e;
}
.form_surname {
    width: 270px;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
}
.form_surname::placeholder {
    color: #ffffff7e;
}
.form_age {
    width: 270px;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
}
.form_age::placeholder {
    color: #ffffff7e;
}
.form_tel {
    width: 255px;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
}
.form_tel::placeholder {
    color: #ffffff7e;
}
.form_email {
    width: 250px;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
}
.form_email::placeholder {
    color: #ffffff7e;
}
.form_choice2 {
    margin: 0 0 0 40px;
}
.form_choice4 {
    margin: 0 0 0 33px;
}
.form_submit {
    height: 30px;
    width: 70px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 17px;
    cursor: pointer;
    transition: 0.5s;
} 
.form_submit:hover {
    background-color: #FFCA42;
    font-size: 17px;
}
.form_label1 {
    color: #fff;
}
/* ----Section 5 video---- */
.a-block4 {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.a-block4__title {
    font-family: fantasy;
    padding-bottom: 70px;
    font-size: 32px;
    font-weight: 100;
    color: rgb(24, 183, 189);
}
.a-block4__txt {
    color: #fff;
    font-family: cursive;
    font-weight: 400;
    font-size: 20px;
}
.a-block4__video {
    border-radius: 16px;
}
/*----FOOTER----  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer__box__{
    border: 1px solid #000;
    background-color:  #FFCA42;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}
.footer__blockM{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px auto;
}

.text__footerM{
    color: #1B3764;
    font-size: 42px;
    margin: 70px auto;
    margin: 50px;
}

.line__M{
    background-color: #1B3764;
height: 5px;
width: 50px;
transition: 0.5s;
margin:auto 0px  ;
}
.text__footer2M{
    color: #1B3764;
    font-size: 23px;
    
}
.text__footer2M{
    color: #1B3764;
    font-size: 23px;
}
.input {
    padding-left: 12px;
    width: 800px;
    height: 50px;
    color: rgba(213, 43, 43, 0.055);
    color: #000;
}
.body__button {
    color: #fff;
    width: 300px;
    height: 50px;
    background-color: #1B3764;
    margin: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.body__button:hover {
    background-color: #e55614;
}
/* -----Button Page----- */
.thanks__body {
    background-image: url(./images/stock-photo-young-adult-woman-at-computer-laptop-with-a-smile-fictional-location-arab-looking-wearing-headscarf-hijab-generative-ai-953266.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.thanks__txt {
    margin-top: 70px;
    color: #e41c11;
    font-size: 50px;
}
.back__button {
    border: 3px solid #fff;
    background-color: #ffffff00;
    font-size: 16px;
    width: 320px;
    padding: 23px;
    border-radius: 40px;
    margin-top: 60px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}
.back__button:hover {
    background-color: #e41c11;
}
.line__M:hover{
width: 1200px;
border-radius: 5px;
}
.footer__block2{
    width: 100%;
    height: 270px;
    background-color: #1B3764;
}
.footer__block2-no-creators {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
}
.m-pages {
    margin-left: 12px;
    margin-top: 30px;
}
.m-image__media {
    margin-left: 12px;
    cursor: pointer;
    transition: 0.5s;
}
.m-image__media:hover {
    background-color: #FFCA42;
    color: #fff;
}
.footer2__more-books {
    margin-top: 30px;
}
.books__markets-title {
    color: #fff;
}
.link-for-book__store {
    color: #a09797;
}
.book__store-name {
    color: #a09797;
    position: relative;
}
.book__store-name:hover {
    color: #dcea24;
}
.book__store-name::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 10%;
    left: 0;
    bottom: 0;
    background-color: #FFCA42;
    transition: 0.5s;
}
.book__store-name:hover::before {
    width: 60%;
}
.footer2__contact-us {
    margin-top: 30px;
}
.contact__us-title {
    color: #fff;
}
.contact__us-list {
    color: #151414;
}
.m-contact {
    cursor: pointer;
    color: #a09797;
}
.m-contacts {
    color: #141313;
    position: relative;
}
.m-contacts:hover {
    color: #fff;
}
.m-contacts::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 10%;
    background-color: #a09797;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.m-contacts:hover::before {
    width: 100%;
}
.footer__creators-M {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.line-M {
    width: 500px;
    height: 1px;
    background-color: #dcea24;
    margin-top: 70px;
}
.footer__creators-name-M {
    color: #fff;
    margin-top: 5px;
}
.footer__names-M {
    color: rgb(236, 79, 79);
}