*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.L_header{
    background-color: #183764;
    width: 1440px;
    height: 1109px;

}
.L_header1{
    display: inline;

}
.L_body {
    
}
.L_LOGO {
    display: inline;
}
.L_logo {
    display: inline;
}
.L_a {
    display: inline;
}
.L_INST {
}
.L_inst {
}
.L_UL {
}
.L_ul {
}
.L_a1 {
}
.L_shop {
}
.L_BUTTON {
}
.L_button {
}
